name: 'Auto update packages'
on:
  workflow_dispatch:
  schedule:
    - cron: '37 17 * * *'
permissions:
  actions: write
  contents: write
jobs:
  auto-update:
    runs-on: ubuntu-latest
    env:
      GIT_SSL_NO_VERIFY: 'true'
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 1024
          swap-size-mb: 4096
          build-mount-path: '/nix'
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
            extra-experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            extra-platforms = i686-linux aarch64-linux arm-linux
            log-lines = 25

      - name: Set nix daemon tmpdir path
        run: |
          sudo mkdir -p /nix/tmpdir
          sudo chown "$(whoami)" /nix/tmpdir

          cat > override.conf <<EOF
          [Service]
          Environment="TMPDIR=/nix/tmpdir"
          EOF
          sudo mkdir /etc/systemd/system/nix-daemon.service.d/
          sudo mv override.conf /etc/systemd/system/nix-daemon.service.d/override.conf
          sudo systemctl daemon-reload
          sudo systemctl restart nix-daemon

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: zfs-updater

      - name: Build nix packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          export TMPDIR=/nix/tmpdir
          nix profile install nixpkgs#nix-prefetch-git
          nix-shell --run "npins upgrade"
          nix-shell --run "npins update"
          
          cd zfs-updater
          cargo run --release

      - name: Commit back to repository
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'Auto update sources'
          commit_user_name: 'xddxdd-bot'
          commit_user_email: 'xddxdd-bot@users.noreply.github.com'
