name: "Build"
on:
  pull_request:
  push:
    branches: [ master ]
jobs:
  check-evaluation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command
            extra-experimental-features = nix-command
      - name: Check evaluation
        run: nix-instantiate default.nix > /dev/null

  build-kernels:
    needs: check-evaluation
    strategy:
      fail-fast: false
      matrix:
        kernel:
          - linux-cachyos-latest
          - linux-cachyos-lts
          - linux-cachyos-latest-lto
          - linux-cachyos-lts-lto
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 1024
          swap-size-mb: 4096
          build-mount-path: '/nix'
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command
            extra-experimental-features = nix-command
      - name: Build ${{ matrix.kernel }}
        run: nix-build default.nix -A ${{ matrix.kernel }}
