name: "CI"
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  check-evaluation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command
            extra-experimental-features = nix-command
      - name: Check evaluation
        run: nix-instantiate default.nix > /dev/null

  test-zfs-updater:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: zfs-updater
      - name: Run tests
        working-directory: zfs-updater
        run: cargo test
